*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.color-green{
    color: #469165;
}

header{
    background-color: white;

}
nav{
    font-size: 16px;
    width: 100%;
    max-width: 1600px;
    height:95px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav .menu a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.btn{
    color: white;
    font-weight: bold;
    background-color: #469165;
    height: 44px;
    width: 164px;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background: #1db96b;
}
#banner {
    background: url(../assets/hero-bg.png) center/cover no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 675px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#banner .banner-content {
    position: relative;
    inset:0 0 2;
    max-width: 900px;
    text-align: center;
}

#banner .banner-content h1 {
    height: 168px;
    width: 770px;
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

#banner .banner-content h5 {
    display: inline-block;
    padding: 6px 16px;
    background-color: white;
    border-radius: 50px;
    font-weight: 600;
    color: #2fbf71;
    margin-bottom: 20px;
}

.color-green {
    color: #2fbf71;
}
#banner .banner-content p {
    font-size: 18px;
    color: white;
    line-height: 1.7;
    margin-bottom: 40px;
    text-align:center;
}
.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.first-btn {
    color: white;
    font-weight: 600;
    background-color: #469165;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s cubic-bezier(0.12, 1.5, 0.76, 0.8);
}
.second-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.32, 0.5, 0.46, 0.18);
}
.first-btn:hover {
    transform: translateY(-5px);
    transform: translateX(5px);
    transform: translateZ(-5px);
    background: #27a863;
}
.second-btn:hover {
    transform: translateY(-5px);
    transform: translateX(5px);
    transform: translateZ(-5px);
    background: rgba(255, 255, 255, 0.1);
}

/* partB */

#partB {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;   
    align-items: center;
}

#partB .partB-content {
    width: 1110px;
    text-align: center;
    margin-bottom: 60px;
}

#partB .partB-content h2 {
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    margin-bottom: 12px;
}

#partB .partB-content p {
    font-size: 16px;
    color: #627382;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto;
}

#partB .cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.45s cubic-bezier(0.22, 1, 0.36, 1);
    
}
#partB .cards .card:hover {
    transform: translateY(-5px);
    transform: translateX(5px);
    transform: translateZ(-5px);
    box-shadow: 0 18px 35px rgba(0, 25, 49, 0.15);
    background-color: #f9fbfd;
}

#partB .card {
    width: 260px;
    padding: 32px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
    text-align: center;
}

#partB .icon {
    width: 56px;
    height: 56px;
    background: #ff5a5a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

#partB .icon img {
    width: 24px;
    height: 24px;
}

#partB .card h3 {
    font-size: 18px;
    color: #0f172a;
    margin-bottom: 10px;
}

#partB .card p {
    font-size: 14px;
    color: #64748b;
    line-height: 1.6;
}