footer {
    margin-top: 120px;
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 57);
}

footer nav {
    width: 100%;
    max-width: 1360px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer nav img {
    background-color: transparent;
}

.social h4 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

.social ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social li {
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social li a {
    color: rgb(0, 0, 57);
    font-size: 16px;
}

.copyright {
    color: #94a3b8;
    font-weight: bold;
    font-size: 16px;
    margin-top: 60px;
    text-align: center;
}