#partC {
    background-color: white;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partC-content {
    width: 100%;
    max-width: 1360px;
    height: 600px;
    gap: 60px;
    display: flex;
    align-items: center;
}

.partC-content img {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    height: auto;
    object-fit: contain;
}

.txt {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: left;
}

.txt h6 {
    font-size: 16px;
    color: #469165;
    font-weight: medium;
    margin-bottom: 12px;
}

.txt h2 {
    font-size: 48px;
    color: solid black;
    font-weight: bold;
    margin-bottom: 20px;
}

.txt p {
    font-size: 16px;
    color: #627382;
    line-height: 28px;
    margin-bottom: 20px;
}

.txt ul {
    font-size: 16px;
    font-weight: medium;
    list-style: none;
    padding-left: 0;
}

.txt ul li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 10px;
}

.txt ul li img {
    width: 24px;
    height: 24px;
}
