#partC {
    background-color: white;
    width: 100%;
    max-width: 1600px;
    /* height: 840px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* padding: 120px 120px; */
    padding: 120px;
    justify-content: center;
}

#partC .partC-content {
    width: 100%;
    max-width: 1360px;
    height: 600px;
    gap: 60px;

    display: flex;
    align-items: center;
}

#partC .partC-content img {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
    /* height: 100%; */
    height: auto;
}

#partC .partC-content .txt {
    width: 100%;
    /* height: 100%; */
    max-width: 700px;
    /* max-height: 600px; */
    text-align: left;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
#partC .partC-content .txt h6 {
   font-size: 16px;
    color: #469165;
    font-weight: medium;
    margin-bottom: 12px;
    
}
#partC .partC-content .txt h2 {
   font-size: 48px;
    color: solid black;
    font-weight: bold;
    margin-bottom: 20px;
}
#partC .partC-content .txt p{
    font-size: 16px;
    color: #627382;
    line-height: 28px;
    /* width: 700px;
    height: 76px; */
    margin-bottom: 20px;
}
#partC .partC-content .txt ul {
    font-size: 16px;
    font-weight: medium;
    list-style: none;
    /* margin-bottom: 20px; */
    padding-left: 0;
}
#partC .partC-content .txt ul li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 10px;
}

#partC .partC-content .txt ul li img {
    width: 24px;
    height: 24px;
}
