#partD {
    background-color: white;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.partD-content {
    background-color: #F7F6F2;
    width: 100%;
    max-width: 1360px;
    gap: 20px;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.partD-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: solid black;
}

.partD-content p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #627382;
    line-height: 1.5;
}

.btn2 {
    color: white;
    font-weight: 600;
    background-color: #469165;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn2:hover {
    background-color: #1db96b;
    transform: scale(1.05);
}

.partD-content h6 {
    font-size: 16px;
    color: #627382;
    font-weight: 200;
    line-height: 1.2;
    padding-top: 4px;
}